body::before {
    display: block;
    content: '';
    height: 60px;
}

#burger-jawn {
    font-size: 45px;
    color:white;
}

.image-container {
    margin-right: auto;
}

#burger-text {
    font-size: 25px;
    color: lightgray;
}

.button-group {
    height: 55px;
}

.card-text.menu {
    font-size: 20px;
}

#chef {
    width: 150px;
    border-radius: 50%;
    border-color: gray;
    border-style:inset;
    overflow: hidden;
}

#copyright {
    font-size: 20px;
}