#burger-jawn {
    font-size: 45px;
}

.image-container {
    margin-right: auto;
}

#burger-text {
    font-size: 25px;
}

.button-group {
    height: 55px;
}

.card-text.menu {
    font-size: 20px;
}